// border and border-radius rules were repetative. Replaced them w/ a placeholder
// and modified CSS slightly to show the container structure.

%border {
    border: 1px solid #000;
    border-radius: 10px;
}

.container {
    width: 600px;
    background-color: #666;
    margin: 0 auto;
    padding: 15px;
    @extend %border;
}

.wrapper {
    float: left;
    position: relative;
    padding: 20px;
    background-color: green;
    @extend %border;
}

.item {
    font-size: 14px;
    font-family: "Sans Pro", sans-serif;
    font-weight: 700;
    padding: 10px;
    background-color: #fff;
    @extend %border;
}